:root {
	/* Global CSS variables (that need to be accessible from JS) go here */
	--font: "JetBrains Mono";

	/* Leave colors commented */
	--col-crust: #181926;
	--col-subbase: #1e2030;
	--col-base: #24273a;
	--col-surface: #363a4f;
	--col-suboverlay: #5b6078;
	--col-overlay: #6e738d;
	--col-subtext: #a5adcb;
	--col-text: #cad3f5;
	--col-white: #eff1f5;
	--col-red: #ed8796;
	--col-orange: #f5a97f;
	--col-yellow: #eed49f;
	--col-green: #a6da95;
	--col-blue: #8aadf4;
	--col-lavender: #7287fd;
}
