*.css.map
*.sass-cache
*/.env
*/.DS_Store/
.env
/client/public/.css/
/client/public/assets/chat/*
/client/public/assets/users/*
/assets/

!/client/public/assets/users/__default.avif
!/client/public/assets/users/caeborg.avif
