@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,500;0,700;0,800;1,100;1,500;1,700;1,800&display=swap');

:root {
  --col-base: #24273a;
  --col-text: #cad3f5;
  --col-subtext: #a5adcb;
  --col-surface: #5b6078;
  --col-overlay: #8087a2;
  --col-yellow: #eed49f;
  --col-orange: #f5a97f;
  --col-red: #ed8796;
  --col-blue: #8aadf4;
  --col-crust: #181926;
}

* {
  font-family: "JetBrains Mono", sans-serif;
  color: var(--col-text);
  background: var(--col-base);
}

#sidebar-list {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#input-sec {
   position: fixed;
   padding-left: 20%;
   left: 0px;
   bottom: 0px;
   height:  48px;
   width: 100%;
   background: var(--col-base);
}
 
#input-box {
  background: var(--col-surface);
  width: 50%;
}

#output-sec {
  float: right;
}

#sidebar-sec {
  float: left;
}

button:hover {
  background: var(--col-overlay);
}