@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,500;0,700;0,800;1,100;1,500;1,700;1,800&display=swap');

:root {
  --col-base: #24273a;
  --col-text: #cad3f5;
  --col-subtext: #a5adcb;
  --col-surface: #363a4f;
  --col-overlay: #6e738d;
  --col-yellow: #eed49f;
  --col-orange: #f5a97f;
  --col-red: #ed8796;
  --col-blue: #8aadf4;
  --col-crust: #181926;

  --sidebar-sec-width: 256px;
  --header-sec-height: 56px;
}

* {
  font-family: "JetBrains Mono", sans-serif;
  color: var(--col-text);
  background: var(--col-base);
}

#header-sec {
  height: var(--header-sec-height);
}

#sidebar-li {
  list-style: none;
  padding: 00px 00px;
  position: fixed;
}

#sidebar-li li,
#sidebar-li button {
  background: var(--col-crust);
}

#sidebar-sec {
  float: left;
  width: var(--sidebar-sec-width);
  height: calc(100vh - var(--header-sec-height));
  margin-left: -00px;
  background: var(--col-crust);
}

#launcher-sec ol {
  text-align: center;
  margin-right: var(--sidebar-sec-width);
}

#input-sec {
  position: fixed;
  padding-left: 20%;
  left: 0px;
  bottom: 0px;
  height: 48px;
  width: 100%;
  background: var(--col-base);
}

#input-box {
  background: var(--col-surface);
  width: 50%;
}

#output-sec {
  float: right;
}

button {
  font-size: 20px;
  border-radius: 4px;
  padding: 8px 8px;
  border: none;
}

button:hover {
  background: var(--col-overlay);
}

ol.horizontal li {
  display: inline-block;
}