@import "../style";
@import "./login";

#main {
	padding: 16px;
	padding-bottom: 10px;

	div p {
		margin: 8px 16px 0px;
	}

	#header {
		display: flex;
		background: var(--col-subbase);
		padding: 20px;
		margin: -16px -16px 8px -16px;
		height: 128px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		* { background: inherit; }

		#pfp {
			z-index: 1;
		}	

		#userchange-p {
			z-index: 2;
			position: absolute;
			font-size: 0.75em;
			background: var(--col-crust);
			opacity: 90%;
		}
	}

	#exit-buttons, #password-div {
		position: relative;
	}

	#password-div {
		&#old {
			right: 128px;
		}
	}

	#exit-buttons {
		display: flex;
		justify-content: right;
		align-items: center;
		height: 48px;

		#old-password-input {
			height: 40px;

			&.animate {
				animation: scrollPassword 0.5s forwards;
				transform-origin: right;
			}
		}

		#old.show-password-button {
			display: none;
			right: 153px;
			bottom: 8px;
		}

		#save-button, #discard-button {
			height: fit-content;
			margin-left: 4px;
		}
	}
}


@keyframes scrollPassword {
from {
	transform: scaleX(0);
}
to {
	transform: scaleX(1);
}
}
