@import "../style";

$input-sec-height: 88px;
$input-margin: 24px;
$input-element-height: 48px;

#input-sec {
    position: fixed;

    height: $input-sec-height;
    width: 100%;

    bottom: 0px;
    left: 0px !important;

    background: $col-base;

    input {
        position: absolute;
        left: 0px;
        bottom: 0px;

        margin: auto $input-margin $input-margin;
        padding-left: 52px;

        width: calc(100% - 2 * #{$right-margin-width});
        height: $input-element-height;

        background: $col-surface;

    }

    button {
        position: fixed;
        bottom: 0px;

        height: calc(#{$input-element-height} * 0.8);

        margin-bottom: calc(#{$input-margin} + 5px);

        &#submit-button {
            right: 0px;
            margin-right: calc(#{$input-margin} * 1.6);
        }

        &#add-button {
            left: 0px;
            margin-left: calc(#{$input-margin} * 1.2);
            width: calc(#{$input-element-height} * 0.8);
            i { background: inherit; }
        }
    }
}

#output-sec {
    position: absolute;

    right: 0px;
    bottom: $input-sec-height;
    left: 0px;

    width: 100%;
    height: calc(100% - (#{$input-sec-height}));

    border-radius: 0px;

    &::-webkit-scrollbar { display: none; }
    scrollbar-width: none;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scroll-snap-align: end;

    * { border-radius: 0px; }

    ol {
        position: absolute; // important for looks

        bottom: 0px;
        left: 0px !important;

        height: 100%;
        width: 100%;

        padding-left: 0px !important;

        li {
            width: 100%;
            margin: 0px auto 0px;
            padding: 28px 0px 28px 76px;
            background: $col-base;
            &:hover { background: $col-subbase; }
            * { background: inherit; }

            img.pfp {
                position: absolute;
                left: 28px;
                height: 40px;
                margin-top: -10px;
                border-radius: 50px;
            }

            p {
                margin: 0px auto;
            }
        }
    }
}

.compound-img {
    width: 300px;
}
