@import "../style";

body {
    display: flex;
	justify-content: center;
	align-items: stretch;
}

button {
	position: absolute;
	bottom: 3%;
	// height: 6%;
	font-size: 32px; 
}

img {
	position: absolute;
	// aspect-ratio: 1/1;
	border-style: hidden !important;
	height: 80%;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	top: 5%;
}
