[Unit]
Description=Caeborg
Requires=network.target
After=network.target systemd-ask-password-console.service multi-user.target

[Service]
User=root
WorkingDirectory=/var/www/caeborg.dev
ExecStart=/usr/bin/sudo /var/www/caeborg.dev/releases/caeborg_linux_arm64
ExecReload=/usr/bin/sudo /var/www/caeborg.dev/releases/caeborg_linux_arm64
Type=simple
Restart=always
TimeoutSec=360

[Install]
WantedBy=default.target
