:root {
	--col-crust: #181926;
	--col-subbase: #1e2030;
	--col-base: #24273a;
	--col-surface: #363a4f;
	--col-suboverlay: #5b6078;
	--col-overlay: #6e738d;
	--col-subtext: #a5adcb;
	--col-text: #cad3f5;
	--col-white: #eff1f5;
	--col-red: #ed8796;
	--col-orange: #f5a97f;
	--col-yellow: #eed49f;
	--col-green: #a6da95;
	--col-blue: #8aadf4;
	--col-lavender: #b7bdf8;
	--col-lightrose: #f4dbd6;
}

.light-mode {
	--col-crust: #dce0e8;
	--col-subbase: #e6e9ef;
	--col-base: #eff1f5;
	--col-surface: #ccd0da;
	--col-suboverlay: #acb0be;
	--col-overlay: #9ca0b0;
	--col-subtext: #6c6f85;
	--col-text: #4c4f69;
	--col-red: #d20f39;
	--col-orange: #fe640b;
	--col-yellow: #df8e1d;
	--col-green: #40a02b;
	--col-blue: #1e66f5;
	--col-lightrose: #dc8a78;
}
