@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,500;0,700;0,800;1,100;1,500;1,700;1,800&display=swap');
@import "./colors";

$border-radius: 32px;

$sidebar-sec-width: 256px;
$header-sec-height: 56px;
$footer-sec-height: 28px;
$right-margin-width: $footer-sec-height;
$headerfooter-height: calc(#{$header-sec-height} + #{$footer-sec-height});
$sidebarrightmargin-width: calc(#{$sidebar-sec-width} + #{$right-margin-width});

$title-fontsize: 24px;
$subtitle-fontsize: 20px;
$body-fontsize: 16px;

:export {
	sidebarSecWidth: $sidebar-sec-width;
}

* {
	font-family: "JetBrains Mono", sans-serif;
	color: var(--col-text);
	background-color: var(--col-base);
	box-sizing: border-box;

	font-size: $body-fontsize;
	&:not(img) { border-radius: $border-radius; }
	&:focus-visible { outline: none; }
}

.subtitle { font-size: $subtitle-fontsize; }
.title {
	margin: 24px;
	font-size: $title-fontsize;
}


iframe {
	padding: 0px !important;
	padding-inline-start: 0px !important;
	margin: 0px !important;
	left: 0px !important;
	border: 0;
	width: calc(100vw - #{$sidebarrightmargin-width});
	height: calc(100vh - #{$headerfooter-height});
}

button {
	padding: 8px 8px;
	border: none;

	&:disabled { opacity: 60%; }
	&:not(:disabled):hover { background: var(--col-overlay) !important; }
	
	i { background: inherit;}
}

input, button { outline: none; }
input {
	padding: 8px 16px;
	border: none;

}

ol {
	&.horizontal li { display: inline-block; }

	&:not(.ordered-list) { list-style: none; }

	margin-block-start: 0px !important;
	margin-block-end: 0px !important;

}


.button-list button {
	// width: calc($sidebar-sec-width - 32px); // Rounded corners, centered buttons & text 
	// padding-left: 20%; text-align: left; // Align center  

	width: $sidebar-sec-width;
	margin-left: 0px !important;

	border-radius: 0px;
}

#launcher-sec {
	display: flex;

	ol li {
		min-width: 56px;
	}
}
