@import "../style";

$input-sec-height: 88px;
$input-margin: 24px;
$input-element-height: 48px;

#input-sec {
    position: fixed;
    bottom: 0px;
    left: 0px !important;
    height: $input-sec-height;
    width: 100%;
    background: $col-base;

    input {
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: auto $input-margin $input-margin;
        width: calc(100% - 2 * #{$right-margin-width});
        height: $input-element-height;
        background: $col-surface;
    }

    button {
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin-right: calc(#{$input-margin} * 1.6);
        margin-bottom: calc(#{$input-margin} + 5px);
        height: calc(#{$input-element-height} * 0.8);
    }
}

#output-sec {
    position: absolute;
    border-radius: 0px;
    width: calc(100% - #{$right-margin-width});
    bottom: $input-sec-height;
    height: calc(100% - (#{$input-sec-height}));
    left: $input-margin;

    &::-webkit-scrollbar { display: none; }
    scrollbar-width: none;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scroll-snap-align: end;

    ol {
        position: absolute; // important for looks
        bottom: 0px;
        padding-inline-start: 0px !important;
        height: 100%;

        li {
            margin-top: 28px;
            margin-left: 48px;

            img.pfp {
                position: absolute;
                float: left;
                left: 0px;
                margin-top: -10px;
                height: 40px;
                border-radius: 50px;
            }
        }
    }
}

.compound-img {
    width: 300px;
    /* image-rendering: pixelated;
image-rendering: optimize-contrast; */
}
