@import "../style";

#launcher-sec {
    width: 100%;
    height: 100%;
}

#add-button {
    position: absolute;
    right:  18px;
    bottom: 18px;
    height: 40px;
    width: 40px;
    border-radius: 50px;

    i {
        text-align: center;
        background-color: inherit;
        height: 100%;
        width: 100%;
        padding: 4px;
    }
}

#new-shortcut-sec {
    position: absolute;
    background: $col-crust;
}
