@import "../style";

#launcher-sec {
    width: 100%;
    height: 100%;
    ol {
        padding-inline-start: 0px !important;
        p {
            margin: 0px;
            width: auto;
            background: inherit;
        }
    }
}

#launcher-sec img, #new-shortcut-sec img {
    border-radius: 32px;
}

#add-button {
    position: absolute;
    right:  18px;
    bottom: 18px;
    height: 40px;
    width: 40px;
    border-radius: 50px;

    i {
        text-align: center;
        background-color: inherit;
        height: 100%;
        width: 100%;
        padding: 4px;
    }
}

#new-shortcut-sec {
    position: absolute;
    display: none;
    flex-direction: column;
    background: $col-crust;
    width: 320px;
    height: auto;
    right: 48px;
    bottom: 48px;
    justify-items: center;
    padding: 12px 0;

    section {
        background: $col-crust;
        display: flex;
        justify-items: center;
        &#input { flex-direction: column; }
        &#buttons { flex-direction: column; }
        &#squares { flex-direction: row; }
        input {
            position: static;
            width: 90%;
            height: 48px;
            margin: 8px auto;
        }
        img, i {
            width: 128px;
            height: 128px;
            margin: 10px 16px
        }
        img {
            background: $col-overlay;
            color: $col-overlay;
        }
        i {
            font-size: 96px;
            padding: 16px 0px;
            text-align: center;
            
            &:hover { color: $col-overlay; }
            
            &#delete-button {
                display: none;
                margin-top: 0px !important;
                border-top: 1px solid $col-crust;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                &:hover { background: $col-red; }
            }
            &#confirm-button {
                margin-bottom: 0px !important;
                &:hover { background: $col-green; }
            }
        }
    }
}


