@import "../style";

button {
	position: fixed;
	left: calc(50% - 104px - #{$sidebar-sec-width});
	// justify-self: center;
	bottom: $footer-sec-height;
	font-size: 40px;
}

img {
	position: fixed;
	top: 5%;
	left: calc(50% - 325px - #{$sidebar-sec-width});
	// left: 50%;
}
