@import "../style";

button {
	position: absolute;
	left: calc(50% - 208px);
	// justify-self: center;
	bottom: $footer-sec-height;
	font-size: 40px;
}

img {
	position: absolute;
	height: 80%;
	left: calc(50% - 0.65 * 40%);
	top: 5%;
	// left: 50%;
}
