@import "../style";

button {
	position: absolute;
	/* left: calc(50% - 104px); */
	justify-self: center;
	bottom: $footer-sec-height;
	font-size: 40px;
}

img {
	position: absolute;
	top: 5%;
	left: calc(50% - $sidebar-sec-width - 190px);
}
