@import "shell";

#output-sec ol {
  li {
    padding: 10px;
    width: 100%;
    padding-left: 76px;
    background: var(--col-base);

    &:hover {
      background: var(--col-subbase);
    }

    &.pingsMe {
      background-color: color-mix(in srgb, var(--col-yellow) 25%, var(--col-base) 75%);
    }

    * {
      background: inherit;
    }

    .file-container-div .p-div {
      margin-right: 14px;
    }

    .link-preview-div .p-div {
      margin: 0px 16px;
    }

    .file-container-div,
    .link-preview-div {
      background: var(--col-surface);
      border-radius: 16px;

      margin-top: 8px;
      padding: 10px;
      /* purely a reminder, this is set in chat.ts; padding-left: self.height; */
      max-width: 50%;

      width: fit-content;
      height: fit-content;
      overflow: hidden;

      position: relative;
      display: flex;
      flex-direction: row;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
        max-height: 100%;
        height: auto;
        object-fit: cover !important;
      }

      .p-div {
        align-content: space-around;
        max-width: 50ch;
        overflow: hidden;
        text-overflow: ellipsis;

        .preview-description {
          white-space: nowrap;
        }

        .file-name,
        .preview-name {
          text-decoration: underline wavy var(--col-blue);
          color: var(--col-blue);
          font-size: 1.1em;

          &:hover {
            filter: brightness(110%);
          }
        }
      }

      button {
        border-radius: 50%;
        font-size: 2em;
        height: 2em;
        width: 2em;
      }
    }

    img {
      &.pfp {
        position: absolute;
        left: 28px;
        height: 40px;
        width: 40px;
        margin-top: auto; // important
        border-radius: 50px;
        user-select: none;
      }

      &.imageMessage {
        max-width: 80% !important;
        max-height: 80% !important;
        margin-top: 4px;
        transition: all 0.5s ease-in-out;

        &.imagePreview {
          width: 80% !important;
          height: 80% !important;
        }
      }
    }

    p {
      display: inline;

      &.usernameTag {
        font-weight: 800;
        color: var(--col-overtext);
      }

      &.datetimeTag {
        margin-top: 5px;
        font-size: $smol-fontsize;
        color: var(--col-overlay);
        user-select: none;
      }

      &.usernameTag:hover,
      p.ping:hover {
        text-decoration: underline;
      }

      p.ping {
        background: var(--col-lavender);
        color: var(--col-overtext);
        border-radius: 2px;
        padding: 2px;

        &:hover {
          filter: brightness(120%);
        }
      }
    }

    .messageContent,
    .imageMessage {
      display: block;
      overflow-wrap: break-word;
    }
  }
}
