@import "../style";

* {
  background-color: var(--col-crust);
}

html {
  overflow: hidden;
  padding: 0px !important;
  margin: 0px !important;

  body {
    height: 100vh;
    width: 100vw;
    padding: 4px 28px 0px 14px;
    margin: inherit;
    display: flex;
    flex-direction: column;

    #header-sec {
      height: 56px;
      background-color: var(--col-crust);

      button {
        height: 48px;
        width: 48px;
        margin-right: 12px;
        padding: 12px;

        border-radius: 4px;
        text-align: center;

        &#login-button,
        &#account-button {
          float: right;
        }

        &#menu-button {
          float: left;
        }

        &#login-button {
          display: flex;

          justify-content: center;
          align-items: center;

          width: 128px !important;
          margin-right: 8px;
        }

        i {
          font-size: 24px;
          width: 24px;
          height: 24px;
          background-color: inherit;
        }
      }
    }

    #mid-sec {
      display: flex;
      flex-direction: row;
      align-self: center;

      width: 100%;
      height: 100%;
      padding: 0px;

      position: relative;

      #sidebar-ol {
        flex-grow: 1;
        background: var(--col-crust);
        list-style: none;
        padding: 0px 4px;
        margin-right: 14px;

        &.anim-in {
          animation: slide-in 0.5s;
          transform: translateX(0%);
        }

        &.anim-out {
          animation: slide-out 0.5s;
          transform: translateX(-100%);
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            height: 100%;
            width: 100%;
            background: var(--col-crust);
            font-size: $subtitle-fontsize;
            border-radius: 12px;
          }
        }
      }

      iframe {
        flex-grow: 20;
        background: var(--col-base) !important;
      }
    }

    #footer-sec {
      display: flex;
      justify-content: center;

      border-radius: 0px;
      padding: 4px;
    }

  }
}


#launcher-sec {
  &.flexbox-container {
    flex-wrap: wrap;
  }

  ol {
    text-align: center;

    li {
      min-width: 56px;

      button {
        margin-left: 16px;
        font-size: $subtitle-fontsize;
      }
    }
  }
}

@keyframes slide-in {
  from {
    display: none;
    transform: translateX(-100%);
  }

  to {
    display: block;
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    display: block;
    transform: translateX(0%);
  }

  to {
    display: none;
    transform: translateX(-100%);
  }
}
