@import "../style";

body {
	display: flex;
	flex-direction: column;

	height: 100%;
	align-items: center;
}

img {
	// flex: 1 1 auto;
	max-height: 85vh !important;
	max-width: 100% !important;
	aspect-ratio: 1 / 1;
}

button {
	position: absolute;
	bottom: 8px;
	font-size: 1.5em;
	padding: 10px;
}
