@import "../style";

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 32px;
  flex-grow: 1;
}

#buttons {
  display: flex;
  align-self: center;
  flex-direction: row;
  height: 64px;

  background: var(--col-subbase);

  button,
  select {
    background: var(--col-subbase);
    height: 100%;
    width: fit-content;
    border-radius: 0px;
    border: none;
    align-self: center;
    overflow: hidden;
    text-align: center;

    &:hover {
      filter: brightness(90%);
    }

    &.source {
      background: var(--col-red) !important;
    }

    &.target {
      background: var(--col-blue) !important;
    }
  }

  i {
    font-size: 24px;
    padding: 12px;
    align-self: center;
    margin: 0px 12px;

    &:hover {
      background: var(--col-overlay);
    }

    &#copy-button {
      margin-left: auto;
    }
  }

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


#text-areas {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: calc(100% - 64px);

  #resizer-div {
    height: 4px;
    background: var(--col-overlay);
    cursor: row-resize;
  }

  #translate-div,
  #dict-div {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    border: 1px solid var(--col-overlay);
  }

  #translate-div {
    height: 65%;
    resize: vertical;
    border-radius: 0px 0px 32px 32px;

    &.dict,
    &.dict textarea {
      border-radius: 0px;
    }
  }

  #dict-div {
    height: 35%;
    border-radius: 0px 0px 32px 32px;
    min-height: calc(35%);
  }

  textarea {
    flex-grow: 1;
    border-radius: 0px;
    padding: 16px;
    padding-bottom: 32px;

    background: var(--col-surface);

    resize: none;
    overflow: hidden;
    border-bottom: none;

    &#source-dict-box {
      padding: 12px;
      overflow: scroll;
      border: none;
      border-top: none;
      resize: none
    }

    &#input-box {
      border-bottom-left-radius: 32px;
      border-top: 2px solid var(--col-red);
      border-left: none;
      border-right: 1px solid var(--col-overlay);
    }

    &#output-box {
      border-bottom-right-radius: 32px;
      border-top: 2px solid var(--col-blue);
      border-right: none;
      border-left: 1px solid var(--col-overlay);
    }
  }
}
