@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,500;0,700;0,800;1,100;1,500;1,700;1,800&display=swap');

:root {
  --col-base: #24273a;
  --col-text: #cad3f5;
  --col-subtext: #a5adcb;
  --col-surface: #363a4f;
  --col-overlay: #6e738d;
  --col-yellow: #eed49f;
  --col-orange: #f5a97f;
  --col-red: #ed8796;
  --col-blue: #8aadf4;
  --col-crust: #181926;

	--border-radius: 32px;

  --sidebar-sec-width: 256px;
  --header-sec-height: 56px;
	--footer-sec-height: 28px;
}

* {
  font-family: "JetBrains Mono", sans-serif;
  color: var(--col-text);
  background-color: var(--col-base);
	border-radius: var(--border-radius);
	box-sizing: border-box;
}

body {
	background-color: var(--col-crust);
}

iframe {
	width: 100%;
	height: 100%;
}

button {
  font-size: 20px;
  padding: 8px 8px;
  border: none;
}

input {
  font-size: 16px;
  padding: 8px 8px;
  border: none;
}

ol.horizontal li {
  display: inline-block;
}

.button-list button {
	/* width: calc(var(--sidebar-sec-width) - 32px); */ /* Rounded corners, centered buttons & text */
	/* padding-left: 20%; text-align: left; */					/* Align center */ 

	width: var(--sidebar-sec-width);
	margin-left: 0px !important;

	border-radius: 0px;
}

#header-sec {
  height: var(--header-sec-height);
	background-color: var(--col-crust);
}

#sidebar-sec {
  float: left;
  width: var(--sidebar-sec-width);
  height: calc(100vh - var(--header-sec-height));
  margin-left: -10px;
  background: var(--col-crust);
}

#sidebar-li {
  list-style: none;
  padding: 00px 00px;
  position: fixed;
}

#sidebar-li li,
#sidebar-li button {
  background: var(--col-crust);
}

#sidebar-li button {
	margin-left: 16px;
}	

#sidebar-li button:hover,
button:hover {
  background: var(--col-overlay);
}

#launcher-sec ol {
  text-align: center;
  margin-right: var(--sidebar-sec-width);
}

#rest-sec {
	position: absolute;
	width: calc(100% - var(--sidebar-sec-width));
	height: calc(100% - var(--header-sec-height));
	left: var(--sidebar-sec-width);
	top: var(--header-sec-height);
}
